/* Header covid */
.header-covid {
    background-color: var(--theme_palette-hof);
    height: 58px;
    text-align: center;
}

.header-covid__noti {
    color: #AAA;
    font-size: 1.5rem;
    line-height: 5.8rem;
    font-weight: 500;
}

.header-covid__noti:hover {
    opacity: 0.8;
}

/* Header */
.header {
    min-height: 41vw;
    background-color: var(--theme_palette-black);
    padding: 0 104px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 48px;
    position: relative;
}

.navbar__logo {
    color: #fff;
}

.navbar__list-menu {
    display: flex;
    list-style: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar__list-menu-link {
    position: relative;
    text-decoration: none;
    color: var(--text-color-white);
    font-size: 1.6rem;
    display: block;
    padding: 10px 16px;
}

.navbar__list-menu-link::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid var(--theme_palette-white);
    width: 10px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

.navbar__list-menu-link--active {
    opacity: 1 !important;
}

.navbar__list-menu-link:hover,
.navbar__list-menu-link:hover::after {
    opacity: 0.7;
    display: block;
}

.navbar__list-menu-link--active.navbar__list-menu-link::after {
    display: block;
    opacity: 1;
    width: 20px;
}

.navbar__list-setting {
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar__list-setting-item:last-child {
    margin-left: 12px;
}

.navbar__list-setting-link{
    text-decoration: none;
    color: var(--text-color-white);
    font-size: 1.6rem;
    display: block;
    font-weight: 500;
    padding: 12px;
    border-radius: 50px;
}

.navbar__list-setting-link:hover {
    background-color: var(--theme_palette-hover);
}

.navbar__search {
    position: absolute;
    width: 850px;
    height: 66px;
    background-color: var(--theme_palette-white);
    top: 100%;
    border-radius: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.navbar__search-list {
    display: flex;
    list-style: none;
    height: 100%;
}

.navbar__search-item {
    position: relative;
}

.navbar__search-item:hover {
    background-color: var(--theme_palette-bebe);
    border-radius: 50px;
    cursor: pointer;
}

.navbar__search-item:hover input {
    background-color: var(--theme_palette-bebe);
}

.navbar__search-item:hover::after, 
.navbar__search-item:hover + .navbar__search-item::after{
    display: none;
}

.navbar__search-item:first-child::after {
    display: none;
}

.navbar__search-item::after {
    position: absolute;
    content: "";
    border-left: 1px solid var(--text-color-foggy);
    opacity: 0.3;
    left: 0;
    height: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.navbar__search-item:first-child {
    flex: 1;
}

.navbar__search-location {
    padding: 14px 32px;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.6;
    cursor: pointer;
}

.navbar__search-checkin,
.navbar__search-checkout,
.navbar__search-add-guest {
    height: 100%;
    width: 180px;
    padding: 14px 24px;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.5;
}

.navbar__search-checkout span,
.navbar__search-checkin span,
.navbar__search-guest span {
    display: block;
}

.navbar__search-add-day {
    color: var(--text-color-foggy);
    font-weight: 300;
}

.navbar__search-guest {
    display: flex;
    align-items: center;
}

.navbar__search-btn {
    display: flex;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: var(--theme_palette-header);
    margin-right: 9px;
}

.navbar__search-btn:hover {
    background-color: #bd1e59;
}

.navbar__search-icon {
    font-size: 1.6rem;
    margin: auto;
    color: var(--text-color-white);
}

.header__img {
    margin-top: 32px;
    background-image: url('../images/header-img.webp');
    background-size: cover;
    --background-position: center;
    background-repeat: no-repeat;
    padding-top: 33%;
}

.header__title {
    color: var(--text-color-white);
    font-size: 3rem;
    line-height: 110px;
    text-align: center;
    font-weight: 300;
}

/* Content */
.content__discover,
.content__wherever,
.content__experience {
    padding: 52px 0;
}

.owner {
    padding-left: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.content__place {
    display: flex;
    align-items: center;
    margin-top: 16px;
    text-decoration: none;
}

.content__place-img {
    height: 64px;
    width: 64px;
    border-radius: 10px;
}

.content__place-info {
    padding-left: 16px;
}

.content__place-name {
    font-size: 1.6rem;
    color: var(--text-color-hof);
    line-height: 2.4rem;
}

.content__place-time {
    font-size: 1.6rem;
    color: var(--text-color-foggy);
    line-height: 2.4rem;
}

.introduce,
.content__activity {
    margin-top: 16px;
    text-decoration: none;
    display: block;
}

.introduce__img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.introduce__title {
    font-size: 1.8rem;
    color: var(--text-color-hof);
    padding: 4px 0;
    font-weight: 600;
}

.content__become-owner {
    margin-top: 64px;
    background-image: url('../images/become-home.webp');
    background-size: 100%;
    height: 482px;
    border-radius: 15px;
}

.owner__title {
    color: var(--text-color-white);
    font-size: 5rem;
    font-weight: 500;
    line-height: 1.2;
}

.owner__content {
    color: var(--text-color-white);
    font-size: 1.6rem;
    margin: 16px 0 40px;
    line-height: 1.4;
}
.content__activity-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.content__activity-title {
    font-size: 1.6rem;
    font-weight: 500;
    padding: 6px 0 4px;
    display: block;
}

.content__activity-sub {
    font-size: 1.4rem;
    color: var(--text-color-hof);
    display: block;
    padding: 4px 0;
}

/* Footer */
.footer {
    background-color: var(--theme_palette-faint);
    border-top: 1px solid var(--theme_palette-deco);
    padding-top: 48px;
}

.footer__title {
    color: var(--text-color-hof);
    font-size: 1.4rem;
}

.footer__list {
    margin-top: 10px;
    list-style: none;
}

.footer__item-link {
    display: inline-block;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color-hof);
    padding: 10px 0;
    cursor: default;
}

.footer__item-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.footer__copyright {
    display: flex;
    border-top: 1px solid var(--theme_palette-deco);
    padding: 24px 0;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;

}

.footer__copyright-list {
    display: flex;
    align-items: center;
}

.footer__copyright-item + .footer__copyright-item {
    margin-left: 25px;
}

.footer__copyright-item:first-child {
    list-style-type: none;
}

.footer__copyright-item,
.footer__copyright-link {
    font-size: 1.4rem;
    color: var(--text-color-hof);
    text-decoration: none;
}

.footer__copyright-link:hover {
    text-decoration: underline;
}

.footer__copyright-media {
    display: flex;
    align-items: center;
}

.footer__copyright-language {
    display: flex;
}

.footer__language {
    display: flex;
    font-size: 1.4rem;
    color: var(--text-color-hof);
    text-decoration: none;
}

.footer__language:hover,
.footer__copyright-media-icon i {
    opacity: 0.8;
}

.footer__language + .footer__language {
    margin-left: 25px;
}

.footer__language span {
    padding-left: 10px;
    text-decoration: underline;

}

.footer__copyright-media-icon {
    margin-left: 40px;
}

.footer__copyright-media-icon i {
    font-size: 2rem;
    margin-left: 20px;
}
